*
body
{
margin: 0;
padding: 0;

}
header
{
height:100vh;
background-size: cover;
background-position: center;

}
.welcome
{
position: relative;
text-align: center;
font-family: Verdana;
color:#5e5d5d;
top:220px;
}
.welcome h1
{
font-size: 42px;
margin:0px;
padding:0px;
}
.welcome h2
{
font-style: 30px;
margin: 25px;
padding: 0px;
}